<div class="form-group">
    <label for="fname">food name</label>
    <input type="text" required placeholder="enter name of food.." class="form-control" name="fname" #fname>
</div>
<div class="form-group">
    <label for="fname">calories</label>
    <input type="number" required placeholder="enter food calories.." class="form-control" name="fcalories" #fcalories>
</div>
<div class="form-group">
    <label for="fname">food details</label>
    <textarea type="text" required placeholder="enter name of food.." rows="4" class="form-control" name="fdetails" #fdetails></textarea>
</div>
