<form (ngSubmit)="foodLog()" #foods='ngForm'>
  <div class="form-group">
    <label for="fname">food name</label>
    <input type="text" required placeholder="enter name of food.." class="form-control" name="fname" #fname="ngModel"
      [(ngModel)]='food.name'>
  </div>
  <div class="form-group">
    <label for="fcalories">calories</label>
    <input type="number" required placeholder="enter food calories.." class="form-control" name="fcalories"
      #fcalories="ngModel" [(ngModel)]="food.calories">
  </div>
  <div class="form-group">
    <label for="fdetails">food details</label>
    <textarea type="text" required placeholder="enter name of food.." rows="4" class="form-control" name="fdetails"
      #fdetails="ngModel" [(ngModel)]="food.details"></textarea>
  </div>
  <button type="submit" class="btn btn-info ">submit food</button>
</form>
