<div class="container">
    <div class="row">
        <div class="col-md-4"><app-meal-form></app-meal-form></div>
        <div class="col-md-8">
            <h2>Meals logged include</h2>
<div class="card card-body mb-2" *ngFor="let meal of _meals" >
    <h2>{{meal.name}}</h2>
    <li class="list-group-item">{{meal.details}}</li>
    <li class="list-group-item">{{meal.calories}}</li>   
</div>
<div class="btn btn-dark btn-sm">delete</div>
<div class="btn btn-dark btn-sm">details</div>
        </div>
    </div>
</div>